.search {
  padding: 60px 10px 55px;
}

.search__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio__list {
  list-style-type: none;
  margin: 40px 0 0;
  padding: 0;
}

.portfolio__item {
  margin: 0;
  padding: 0;
}

.portfolio__item:not(:last-child) {
  margin-bottom: 20px;
  padding-bottom: 19px;
  border-bottom: 1px solid #E6E6E6;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  text-decoration: none;
  letter-spacing: -0.04em;
  transition: all .3s ease;
  color: #000;
}

.portfolio__link:hover {
  opacity: .7;
}

.portfolio__link-arrow {
  width: 11px;
  height: 11px;
  margin-left: 10px;
  padding: 1px;
}

@media screen and (min-width: 600px) {
  .portfolio {
    padding: 0 50px 90px;
  }

  .portfolio__title {
    font-size: 18px;
    line-height: 1.1;
  }

  .portfolio__list {
    margin-top: 50px;
  }

  .portfolio__link {
    font-size: 28px;
    line-height: 1.79;
  }

  .portfolio__link-arrow {
    width: 16px;
    height: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .search {
    padding-bottom: 125px;
    max-width: 1140px;
    margin: 0 auto;
  }
  
  .portfolio__link {
    font-size: 30px;
    line-height: 1.67;
  }

  .portfolio__link-arrow {
    width: 18px;
    height: 17px;
  }
}
