.search {
  padding: 60px 10px 10px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.search__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search__form::after {
  content: '';
  height: 1px;
  width: calc(100% - 8px);
  margin-top: 43px;
  box-sizing: border-box;
  background-color: rgba(170, 170, 170, .2);
}

.search__frame {
  width: 100%;
  border: 1.5px solid rgba(170, 170, 170, .2);
  border-radius: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}

.search__input {
  flex: 1 1 auto;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.6;
  color: #A0A0A0;
  padding: 15px 5px 15px 16px;
  background-color: transparent;
}

.search__input:focus {
  outline: none;
}

.search__submit-btn {
  background-image: url(../../images/lupa.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #3456F3;
  border-radius: 48px;
  width: 80px;
  height: 34px;
  border: none;
  padding: 0;
  margin: 7px;
  transition: all .3s ease;
}

.search__submit-btn:hover {
  opacity: .8;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .search {
    padding-right: 30px;
    padding-left: 30px;
  }

  .search__input {
    font-size: 14px;
    line-height: 1.3;
  }

  .search__form::after {
    margin-top: 57px;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .search {
    padding-top: 80px;
  }
  
  .search__form {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 83px 41px;
  }

  .search__frame {
    width: 70%;
    max-width: 932px;
    flex: 1 1 auto;
  }

  .search__form::after {
    margin: 0;
  }
}
